section {
  padding: 2em !important;
  --body-font-size:42px;
  --line-height:1.2; }
  section p {
    font-size: 42px !important; }
  section, section p, section h2, section h3, section h4, section h5, section h6, section ul, section li {
    line-height: var(--line-height) !important;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    border: none; }
  section ul li:first-child {
    margin-top: 0 !important; }
  section ul li:last-child {
    margin-bottom: 0 !important; }
  section img.speak-bg {
    position: absolute;
    opacity: 0.2; }
    section img.speak-bg--op-30 {
      opacity: 0.3; }
    section img.speak-bg--op-50 {
      opacity: 0.5; }
    section img.speak-bg--op-80 {
      opacity: 0.8; }
  section h2 {
    font-size: calc( var(--body-font-size) * 1.1) !important; }
  section h3 {
    font-size: calc( var(--body-font-size) * 1.1) !important; }
  section .text-ghost {
    color: rgba(0, 0, 0, 0.1) !important; }
  section .title-parent {
    font-size: 24px !important;
    color: #999; }
  section strong {
    color: #c00; }
  section .alert {
    padding: 0 10px; }
    section .alert > *:first-child {
      margin-top: 0 !important; }
    section .alert > *:last-child {
      margin-bottom: 0 !important; }
