section {
	/* padding: 50px; */
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Hiragino Sans, "Noto Sans JP", sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	h1 {
		font-size: 64px !important;
		color: #000 
	}
	h2 {
		font-size: 56px;
		border-bottom: 1px solid #ccc !important;
		margin-bottom: 50px; }

	h2::first-letter {
		color: #c00; }

	h3 {
		font-size: 48px;
		margin-bottom: 40px;
		margin-top: 40px; }

	h4 {
		font-size: 42px; }

	p,
	li {
		font-size: 38px; }

	ul {
		margin-bottom: 50px; }

	p i {
		position: relative;
		top: 2px;
		margin-right: 0.4em; }
		
	pre,
	code {
		font-size: 2rem;
	}
	table {
		// width:100%;
		// border:1px solid #ff0000;
		th,
		td{
			padding-left:1em;
			padding-right:1em;
		}
	}

	/* スライドタイトルなどの特殊スタイル ----------------*/
	&.title {

	}
	&.title-chapter {
		border-top: 5px solid #B81C22;
		background-color: #e5e5e5;
		h1 {
			color :#444444;
		}
	}
	&.functions li {
		font-size:30px;
	}
	&.index {
		background-color:#e5e5e5;
	}
	&.list-lg {
		ol,ul {
			padding-left:100px;
		}
		li {
			font-size:48px;
		}
	}
}