section {
	/* padding: 50px; */
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Hiragino Sans, "Noto Sans JP", sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	--color-icon : #c00;
	h1 {
		font-size: 64px !important;
		color: #000 
	}
	h2 {
		font-size: 56px;
		border-bottom: 1px solid #ccc !important;
		margin-bottom: 38px; }

	h2::first-letter {
		color: #c00; }

	h3 {
		font-size: 48px;
		margin-bottom: 36px;
		margin-top: 28px; }

	h4 {
		margin-top: 24px;
		font-size: 42px; }

	p,
	li {
		font-size: 38px; }

	ul {
		margin-bottom: 50px;
		li:last-child {
			margin-bottom: 0;
		}
	}
	.alert {
		padding-left:1em;
		padding-right:1em;
		ul {
			margin-bottom: 0;
		}
	}

	p i {
		position: relative;
		top: 2px;
		margin-right: 0.4em; }
		
	pre,
	code {
		font-size: 1rem;
	}
	table {
		// width:100%;
		// border:1px solid #ff0000;
		th,
		td{
			padding-left:1em;
			padding-right:1em;
		}
	}
	.colmuns {
		width:100%;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	/* utilities ----------------*/
	.text-center {
		text-align: center !important;
	}
	.text-huge{
		font-size:2em;
		line-height: 2;
		font-weight: bold;
	}
	.list-icon {
		line-height: 2;
		i {
			color:var(--color-icon);
		}
	}
	.mb-0 {
		margin-bottom:0 !important;
	}
	.mt-0 {
		margin-top:0 !important;
	}
	.pb-0 {
		padding-bottom:0 !important;
	}
	.telop {
		position:absolute;
		background-color: rgba( 0,0,0,0.8);
		color:#fff;
		padding: 0.6em 1em;
		display: block;
		h1,h2,h3,h4{
			margin:0 1em;
			display: block;
		}
		&--center {
			width:100%;
			text-align:center;
		}
		&--left {
			left:0;
		}
		&--right {
			right:0;
			left:auto;
			padding-right:1em;
		}
		&--bg-white{
			background-color: rgba( 255,255,255,0.8);
			color:#000;
		}
	}
	.caption {
		font-size:36px;
	}
	.hidden{
		display:none !important;
	}

	/* スライドタイトルなどの特殊スタイル ----------------*/
	&.title {

	}
	&.title-chapter {
		border-top: 5px solid #B81C22;
		background-color: #e5e5e5;
		h1 {
			color :#444444;
		}
	}
	&.functions li {
		font-size:30px;
	}
	&.index {
		background-color:#e5e5e5;
	}
	.text-danger {
		color:#c00;
	}
	// セリフ用
	&.speaking {
		background-color:#fff09a;
	}
	@media print {

	}
	&.speaking-ja {
		// display: none !important;
		// height:0 !important;
		background-color:#e5e5e5;
		p,li {
			font-size:28px;
		}
	}
}