@import "@bootstrap/functions";
@import "bootstrap_variables";
@import "@bootstrap/mixins";
@import "@bootstrap/grid";
@import "@bootstrap/buttons";
// @import "@bootstrap/card";
@import "@bootstrap/alert";
// @import "@bootstrap/media";
@import "common";	

section {
    &.title{
        // background-color: #f0f;
        // background-image: url('../images/vws_title_01_red.svg');
        background-image: url('../images/vws_logo_tate.png') !important;
        background-size: cover !important;
        background-position: center !important;
        color:#fff;
        h1 {
            color :#fff;
        }
    }
}

section {
	/* padding: 50px; */
	font-family: "メイリオ", Meiryo, "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", Hiragino Sans, "Noto Sans JP", sans-serif;
	-ms-word-wrap: break-word;
	word-wrap: break-word;
	/* スライドタイトルなどの特殊スタイル ----------------*/ }
	section h1 {
	  font-size: 64px !important;
	  color: #000; }
	section h2 {
	  font-size: 56px;
	  border-bottom: 1px solid #ccc !important;
	  margin-bottom: 38px; }
	section h2::first-letter {
	  color: #c00; }
	section h3 {
	  font-size: 48px;
	  margin-bottom: 36px;
	  margin-top: 28px; }
	section h4 {
	  margin-top: 28px;
	  font-size: 42px; }
	section p,
	section li {
	  font-size: 38px; }
	section ul {
	  margin-bottom: 50px; }
	section p i {
	  position: relative;
	  top: 2px;
	  margin-right: 0.4em; }
	section pre,
	section code {
	  font-size: 1rem; }
	section table th,
	section table td {
	  padding-left: 1em;
	  padding-right: 1em; }
	section.title-chapter {
	  border-top: 5px solid #B81C22;
	  background-color: #e5e5e5; }
	  section.title-chapter h1 {
		color: #444444; }
	section.functions li {
	  font-size: 30px; }
	section.index {
	  background-color: #e5e5e5; }
	section .text-danger {
	  color: #c00; }
  
  section.title {
	background-image: url("../images/vws_logo_tate.png") !important;
	background-size: cover !important;
	background-position: center !important;
	color: #fff; }
	section.title h1 {
	  color: #fff; }