@import "@bootstrap/functions";
@import "bootstrap_variables";
@import "@bootstrap/mixins";
@import "@bootstrap/grid";
@import "@bootstrap/buttons";
// @import "@bootstrap/card";
@import "@bootstrap/alert";
// @import "@bootstrap/media";
@import "../fontawesome-free/css/all.css";
@import "common";	

section {
    &.title{
        // background-color: #f0f;
        // background-image: url('../images/vws_title_01_red.svg');
        background-image: url('../images/vws_logo_tate.png') !important;
        background-size: cover !important;
        background-position: center !important;
        color:#fff;
        h1 {
            color :#fff;
        }
    }
	&.title-chapter {
		background-color:rgba(255,255,255,1) !important;
	}
}
